anthropic
openai
wheel
click
sympy
unified_planning==1.0.0.29.dev1
customtkinter
pillow
python-dotenv
pyperclip
progress
matplotlib
numpy
jsonpickle
langgraph
langchain_tavily
langchain_openai
pyppeteer

aiofiles                 
aiohappyeyeballs         
aiohttp                  
aiosignal                
annotated-types          
anthropic                
anyio                    
asttokens                
async-timeout            
attrs                    
backoff                  
beautifulsoup4           
certifi                  
cffi                     
charset-normalizer       
click                    
cryptography             
dataclasses-json         
decorator                
distro                   
dotenv                   
emoji                    
exceptiongroup           
executing                
filetype                 
frozenlist               
greenlet                 
h11                      
html5lib                 
httpcore                 
httpx                    
httpx-sse                
idna                     
ipython                  
jedi                     
jiter                    
joblib                   
jsonpatch                
jsonpointer              
langchain                
langchain-anthropic      
langchain-community      
langchain-core           
langchain-ollama         
langchain-openai         
langchain-tavily         
langchain-text-splitters 
langdetect               
langgraph                
langgraph-checkpoint     
langgraph-prebuilt       
langgraph-sdk            
langsmith                
lxml                     
Markdown                 
marshmallow              
matplotlib-inline        
multidict                
mypy_extensions          
networkx                 
nltk                     
numpy                    
olefile                  
ollama                   
openai                   
orjson                   
ormsgpack                
packaging                
parso                    
pexpect                  
pip                      
prompt_toolkit           
propcache                
psutil                   
ptyprocess               
pure_eval                
pycparser                
pydantic                 
pydantic_core            
pydantic-settings        
Pygments                 
pyparsing                
pypdf                    
python-dotenv            
python-iso639            
python-magic             
python-oxmsg             
PyYAML                   
RapidFuzz                
regex                    
requests                 
requests-toolbelt        
setuptools               
six                      
sniffio                  
soupsieve                
SQLAlchemy               
stack-data               
tenacity                 
tiktoken                 
tqdm                     
traitlets                
typing_extensions        
typing-inspect           
typing-inspection        
unified-planning         
unstructured             
unstructured-client      
urllib3                  
wcwidth                  
webencodings             
wrapt                    
xxhash                   
yarl                     
zstandard                